// .animated {
// 	animation-fill-mode: both;
// 	animation-duration: 1s;
// }

// @keyframes fadeInUp {
// 	0% {
// 		opacity: 0;
// 		transform: translateY(20px);
// 	}

// 	100% {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }

// .fadeInUp {
//     animation-name: fadeInUp;
// }