// Convert PX to REM/EM
// @function rem($target, $base-font-size: $base-font-size) { @return ($target / $base-font-size) * 1rem; }
// @function em($target, $base-font-size: $base-font-size) { @return ($target / $base-font-size) * 1em; }

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();
  
  @each $value in $values {
   
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    
    @else { 
      $unit: unit($value);
      $val: parseInt($value);
      
      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / $base-font-size + rem));
      }
      
      @if $unit == "rem" {
        $px : append($px,  ($val * $base-font-size + px));
        $rem: append($rem, $value);
      }
    }
  }
  
  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}