/*
transition

Impliment transitions
.foo {
    @include transition(all, .3s, ease-in-out);
}


@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
*/

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin letterspacing-animation {
  letter-spacing: 60px;
  opacity: 0;
  &.inview {
    letter-spacing: 3px;
    opacity: 1;
    transition: letter-spacing .3s ease, opacity .3s ease;
  }
}