html,
body {
	touch-action: none;
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}


// .fullscreen{
//     z-index: 9999; 
//     width: 100% !important; 
//     height: 100% !important; 
//     position: fixed !important; 
//     top: 0 !important; 
//     left: 0 !important; 
//  }
