.sprite {
    background-image: url($images +"base/sprites/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-next {
    width: 8px;
    height: 14px;
    background-position: -5px -5px;
}

.sprite-x {
    width: 24px;
    height: 24px;
    background-position: -23px -5px;
}
