
@font-face {
    font-family: 'antennabold';
    src: url("/assets/fonts/antennabold.eot");
    src: url("/assets/fonts/antennabold.eot@") format("embedded-opentype"), url("/assets/fonts/antennabold.ttf.html") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'antennaregular';
    src: url("/assets/fonts/antennaregular.eot");
    src: url("/assets/fonts/antennaregular.eot@") format("embedded-opentype"), url("/assets/fonts/antennaregular.woff") format("woff"), url("/assets/fonts/antennaregular.ttf.html") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'antennaextralight';
    src: url("/assets/fonts/antennaextralight.eot");
    src: url("/assets/fonts/antennaextralight.eot@") format("embedded-opentype"), url("/assets/fonts/antennaextralight.woff") format("woff"), url("/assets/fonts/antennaextralight.ttf.html") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'antennamedium';
    src: url("/assets/fonts/antennamedium.eot");
    src: url("/assets/fonts/antennamedium.eot@") format("embedded-opentype"), url("/assets/fonts/antennamedium.woff") format("woff"), url("/assets/fonts/antennamedium.ttf.html") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "antennalight";
    src: url("/assets/fonts/antennalight.eot");
    src: url("/assets/fonts/antennalight.eot@") format("embedded-opentype"), url("/assets/fonts/antennalight.woff") format("woff"), url("/assets/fonts/antennalight.ttf.html") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "antennathin";
    src: url("/assets/fonts/antennathin.eot");
    src: url("/assets/fonts/antennathin.eot@") format("embedded-opentype"), url("/assets/fonts/antennathin.woff") format("woff"), url("/assets/fonts/antennathin.ttf.html") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;  //fix for iOS
}

html {
    font-size: 100%;
}

body {
    font-family: $base-font;
    color: $base-font-color;
    font-size: $base-font-size;    
}

bold,
strong {
    font-family: $base-font-bold;    
}

italic,
em {
    
}


h1, 
h2, 
h3, 
h4, 
h5,
.h1, 
.h2, 
.h3, 
.h4, 
.h5 {
    margin: 0;
    padding: 0;    
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-transform: uppercase;
}


h1, 
.h1 {
    font-family: $base-font-extralight;
    @include rem(font-size, 60px);
    @include rem(line-height, 70px); /**************************** CHECK ***************************/
}

h2, 
.h2 {
    font-family: $base-font-light;
    @include rem(font-size, 30px);
    @include rem(line-height, 35px); /**************************** CHECK ***************************/
}

h3, 
.h3 {
    @include rem(font-size, $base-font-size);
    @include rem(line-height, 22px); /**************************** CHECK ***************************/
}


/*        Touch to spin 360             */
h4, 
.h4 { 
    font-family: $base-font-light;
    @include rem(font-size, $base-font-size);
    @include rem(line-height, 22px); /**************************** CHECK ***************************/
}

h5, 
.h5 {
    @include rem(font-size, 14px);
    @include rem(line-height, 16px); /**************************** CHECK ***************************/

    &--sentence-case {
        text-transform: initial;
    }
}