  ///////////////////////////
 // Paths //
///////////////////////////

$images:					"/assets/images/";



  ///////////////////////////
 // Typography //
///////////////////////////


$base-font-thin:            "antennathin", "Helvetica", sans-serif;
$base-font-regular:         "antennaregular", "Helvetica", sans-serif;
$base-font-light:           "antennalight", "Helvetica", sans-serif;
$base-font-medium:          "antennamedium", "Helvetica", sans-serif;
$base-font-extralight:      "antennaextralight", "Helvetica", sans-serif;
$base-font-bold:			"antennabold", "Helvetica", sans-serif;

$base-font-size: 18px;
$base-font: $base-font-regular; 

  ///////////////////////////
 // Colours //
///////////////////////////
$black:	#000;
$grey:	#b8b8b8; 		/* H1 heading on configurator */
$grey-dark: #8c8c8c; 	/* Small heading next to engines */
$white:	#fff;
$summer-green: #9ab9ad; /*Used for the price in collection pages */

  //////////////////////
 // Button Variables //
//////////////////////

$button-primary-color: $white;
$button-secondary-color: $grey;
$button-border-width: 1px;